html {
    font-family: 'Nunito', 'M PLUS Rounded 1c', sans-serif !important;
}

.title {
    background-size: cover !important;
    h1>span {
        color: white;
        span {
            filter: drop-shadow(0 0 .2rem black);
        }
        margin: {
            top: 72px;
            bottom: 72px;
        }
    }
}

.user-icon {
    border-radius: 50%;
}

.text {
    display: inline-block;
}

.uk-form-width-large {
    max-width: 500px;
}

.scroll-table {
    overflow: auto;
    white-space: nowrap;
    table {
        min-width: 800px;
        margin-bottom: 0;
    }
}