#new-review, div[uk-modal] {
  #color-canvas {
    cursor: crosshair;
    border: #fff 4px solid;
  }

  .cs-box {
    display: flex;
    margin: 0 auto;
    width: fit-content;
  }
  .color-sample {
    height: 100px;
    width: 100px;
    background: hsl(0, 100%, 70%);
    margin: 8px;
    cursor: pointer
  }
  #cs2 {
    background: hsl(0, 100%, 30%);
  }
  #cs1.selected {
    border: #40414f solid 8px;
  }
  #cs2.selected {
    border:#e5e5e5 solid 8px;
  }
  .color-sample:not(.selected) {
    padding: 8px;
  }

  form {
    margin: 0 auto;
  }
  .uk-width-1-4\@s {
    padding-left: 10px;
  }
  .result-box {
    margin: 0;
    min-height: 64px;
    border: #e5e5e5 1px solid;
  }
  .list-message {
    margin: 8px 0;
    display: block;
    float: left;
  }
}