<!DOCTYPE html>
<html lang="jp">

<head>
    <%= render :erb ,:'template/head' %>
</head>

<body id="top">
    <%= render :erb ,:'template/header' %>
    <div class="uk-section">
        <div class="uk-container uk-text-center">
            <h1 class="uk-heading-line uk-text-center"><span>404 Not found</span></h1><br>
            <p>お探しのページが見つかりませんでした。<br>
            ページが移動・削除された可能性があります。</p>
        </div>
    </div>
    <%= render :erb ,:'template/footer' %>
</body>

</html>