<!DOCTYPE html>
<html lang="jp">
<head>
    <%= render :erb ,:'template/head' %>
</head>
<body>
    <%= render :erb ,:'template/nav' %>
    
    
    <%= render :erb ,:'template/footer' %>
</body>
</html>