<!DOCTYPE html>
<html lang="jp">

<head>
    <%= render :erb ,:'template/head' %>
</head>

<body>
    <%= render :erb ,:'template/header' %>
    <div id="content" class="uk-section">
        <div class="uk-container uk-text-center">
            <h1 class="uk-heading-line"><span>Music</span></h1>
        </div>
    </div>
    <%= render :erb ,:'template/footer' %>
</body>

</html>