<!DOCTYPE html>
<html lang="jp">

<head>
    <%= render :erb ,:'template/head' %>
</head>

<body>
    <%= render :erb ,:'template/header' %>

    <div id="content" class="uk-section">
        <div class="uk-container">

            <%= @user %>

        </div>
    </div>
    <%= render :erb ,:'template/footer' %>
</body>

</html>