<!DOCTYPE html>
<html lang="jp">

<head>
    <%= render :erb ,:'template/head' %>
</head>

<body>
    <%= render :erb ,:'template/header' %>
    <%# 自分かどうかで処理を変える（設定画面へのリンク等） %>
    <div id="content" class="uk-section">
        <div class="uk-container">

            <img src="<%= @user['profile_image_url_https'] %>" alt="">

        </div>
    </div>
    <%= render :erb ,:'template/footer' %>
</body>

</html>