#search {

  form,
  table,
  .uk-tab {
    margin: 0 auto;
  }

  .uk-tab {
    a {
      font-size: 18pt;
    }
  }

  td {
    padding: {
      left: 8px;
      right: 8px;
    }
  }
  
  .result {
    margin-top: 48px;
  }
}

@media screen and (max-width:425px) {
  #search {
    .uk-tab {
      a {
        font-size: 12pt;
      }
    }
  }
}