#review-header {
    h1>span {
        color: black;
        text-decoration-color: black;
    }

    .song-link {
        text-decoration-color: #666;
    }

    .song {
        font-size: 18pt;
        color: #666;
    }
}

#review-header.dark {
    h1>span {
        text-decoration-color: white;
        color: white;
    }

    .song-link {
        text-decoration-color: #ccc;
    }

    .song {
        color: #ccc;
    }
}

#review-info {
    padding: {
        top: 8px;
        bottom: 8px;
    }

    img {
        border-radius: 50%;
    }
}

#review-info.dark {
    a {
        color: #eee;
    }
}