header {
  background: #40414f;

  .uk-logo {
    margin-right: 16px;
  }

  nav.uk-navbar-container.uk-container.uk-navbar {
    background: #40414f;
  }

  .uk-navbar-nav>li>a,
  .uk-navbar-nav>li>a.uk-open,
  .uk-navbar-nav>li>a:focus {
    color: #eee;

    &:hover {
      color: #aaa;
    }
  }

  form {
    input {
      width: 250px !important;
    }
    button {
      color: white !important;
    }
  }

  .uk-logo {
    &:hover {

      .header-iori-logo,
      .header-iori-text {
        fill: #e0e0e0;
      }
    }

    .header-iori-logo {
      fill: #ffffff;
      height: 42px;
      width: 42px;
    }

    .header-iori-text {
      fill: #ffffff;
      height: 30px;
      width: 60px;
      margin-left: 12px;
    }
  }

  img {
    width: 48px;
    border-radius: 50%;
    margin-right: 8px;
  }

  a.uk-button-default {
    color: white;

    &:hover {
      color: #e0e0e0;

    }
  }
}