<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet"href="https://fonts.googleapis.com/css?family=Noto+Sans+JP">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.4/css/uikit.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/mizucoffee/simple-blur.css@v1.0.1/dist/simple-blur.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.4/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.4/js/uikit-icons.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/gh/Septdir/uikit-fa-icons@2.2.0/js/uikit-fa-icons.min.js"></script>

<script src="/footer.js"></script>
<link rel="stylesheet" href="/style.css">
<link rel="icon" href="/favicon.ico">

<title>Iori</title>