<div class="title blur-8px" style="background: url(<%= file %>) center; background-position-y: <%= pos %> !important;">
    <div class="uk-container uk-text-center">
        <h1 class="uk-heading-line"><span><span><%= title %></span></span></h1>
    </div>
</div>